.navbar,
#root,
body {
  background-color: #dff6cc;
}

.footer {
  background-color: #65acb0;
}

.form-control {
  text-align: center;
}

.form-group {
  justify-content: center;
}

option {
  text-align: center;
}

.currency-table {
  max-height: 316px;
  overflow: scroll;
}

.footer {
  margin-top: 115px;
}

.app-body {
  margin-bottom: -45px;
}

.bg-light {
  border-radius: 12px;
}
